.navbar{
    background-color: #f2f217;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    display: inline-block;
    margin-right: auto;
}

img{
    width: 50px;
    height: auto;
}