.publicacionTec-card {
  background-color: #0ea5e9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.publicacionTec-card:hover {
  transform: scale(1.05);
}

.publicacionTec-details {
  margin-top: 1rem;
}

.publicacionTec-titulo {
  font-size: 1.2rem;
  font-weight: bold;
}

.publicacionTec-fecha,
.publicacionTec-curso, 
.publicacionTec-texto{
  margin: 0.5rem 0;
}

.selecionar-publicacionTec{
  color: inherit;        
  text-decoration: none;
}

.inactive {
  opacity: 0.5;
}

.tecnologia-page-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.publicacionTec-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  height: 100vh;
}

.tecnologia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tecnologia-title {
  font-size: 2rem;
  font-weight: bold;
}

.publicacionesTec-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.publicacionesTec-card-wrapper {
  position: relative;
}

.search-bar-client::placeholder {
  color: rgb(6, 0, 26); /* o usa un color personalizado como #800080 */
  opacity: 1; /* para que se vea bien en todos los navegadores */
}
